pyautogui>=0.9.53
pynput>=1.7.6
pytesseract>=0.3.8
opencv-python>=4.5.5.64
uvicorn>=0.18.3
fastapi>=0.88.0
python-multipart>=0.0.5
sqlalchemy>=1.4.41
alembic>=1.8.1
pytest>=7.0.0
mypy>=0.971
flake8>=5.0.0
